[submodule "external/etl"]
	path = external/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "external/micromouse_simulator"]
	path = external/micromouse_simulator
	url = https://github.com/akiaki96/maze-sim-webui.git
